{% load static i18n %}
<!DOCTYPE html>
<body lang="{%get_current_language as LANGUAGE_CODE %}">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{% block title %}{% trans "Select Time Range" %}{% endblock %}</title>
   <link rel="stylesheet" href="{% static 'css/nav_styles.css' %}"><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

   {% block extra_head %}{% endblock %}
</head>
   {% block content %}
   <nav class="navbar navbar-expand-lg navbar-custom">
    <a class="navbar-brand" href="{%url 'choose_wrap_time' %}"><img src="{% static 'images/spotify_logo.png' %}" alt="{% trans 'Spotify Logo' %}" class="spotify-logo-small"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'song_guess_game' %}">{% trans "Play Game" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'friends_page' %}">{% trans "Friends" %}</a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle profile" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                    <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'account_settings' %}">Settings</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'contact' %}">Contact Developers</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div class = "settings-container">
    <h1>{% trans "Account Settings" %}</h1>
    <br>
    <div style="gap: 2em;">
        <button id="delete-account-btn" class="account-button">
            {% trans "Delete Account" %}
        </button>
        <button id="dark-mode-toggle" class="account-button">{% trans "Dark Mode" %}</button>
    </div>
</div>
       <div id="confirmation-dialog" style="display: none;">
            <h3>{% trans "Are you sure you want to delete your account?" %}</h3>
            <form method="post" action="{% url 'delete_account' %}" id="delete-account-form" class="delete-account-form">
                {% csrf_token %}
                <button type="submit" class="delete-account-button-button">
                    {% trans "Yes, Delete My Account" %}
                </button>
                <button type="button" id="cancel-btn" class="cancel-button">
                    {% trans "Cancel" %}
                </button>
            </form>
        </div>
          <script>
         document.addEventListener("DOMContentLoaded", function () {
            const toggleButton = document.getElementById("dark-mode-toggle");
            const body = document.body;

            // Check for saved user preference
            const darkModePreference = localStorage.getItem("darkMode");

            if (darkModePreference === "enabled") {
                body.classList.add("dark-mode");
                toggleButton.textContent = "{% trans 'Light Mode' %}";
            } else {
                toggleButton.textContent = "{% trans 'Dark Mode' %}";
            }

            // Toggle dark mode on button click
            toggleButton.addEventListener("click", function () {
                body.classList.toggle("dark-mode");
                const isDarkModeEnabled = body.classList.contains("dark-mode");

                // Save user preference
                if (isDarkModeEnabled) {
                    localStorage.setItem("darkMode", "enabled");
                    toggleButton.textContent = "{% trans 'Light Mode' %}";
                } else {
                    localStorage.setItem("darkMode", "disabled");
                    toggleButton.textContent = "{% trans 'Dark Mode' %}";
                }
            });
        });
    </script>

<script>
    document.getElementById('delete-account-btn').addEventListener('click', function(event) {
        // Show confirmation pop-up
        const confirmation = confirm("{% trans 'Are you sure you want to delete your account?' %}");

        if (!confirmation) {
            // If the user cancels, prevent the form from submitting
            event.preventDefault();
        }
    });
</script>

{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>