<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Select Time Range</title>
</head>
<body>
   <h2>Select Your Spotify Wrapped Time Range</h2>


   <form method="POST" action="{% url 'choose_wrap_time' %}">
       {% csrf_token %}
       <div>
           <input type="radio" id="short" name="time_range" value="short_term" required>
           <label for="short">Short Term (Last 4 Weeks)</label>
       </div>
       <div>
           <input type="radio" id="medium" name="time_range" value="medium_term">
           <label for="medium">Medium Term (Last 6 Months)</label>
       </div>
       <div>
           <input type="radio" id="long" name="time_range" value="long_term">
           <label for="long">Long Term (All Time)</label>
       </div>
       <button type="submit">Submit</button>
   </form>
</body>
</html>
