{% load i18n %}
<!DOCTYPE html>
<html lang="{% get_current_language as LANGUAGE_CODE %}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Delete Account Confirmation" %}</title>
</head>

<body>
    <h2>{% trans "Are you sure you want to delete your account?" %}</h2>
    <form method="POST">
        {% csrf_token %}
        <button type="submit">{% trans "Yes, Delete My Account" %}</button>
    </form>
</body>
</html>
