{% load static i18n %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{% trans "Your Spotify Wrapped" %}</title>
   <!-- Link to the CSS file -->
   <link rel="stylesheet" href="{% static 'css/styles.css' %}">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<a href="{% url 'choose_wrap_time' %}" class="escape-wrapped"> X </a>
<a href="{% url 'profile' %}" class="profile-icon" aria-label="View Profile">
    <i class="bi bi-person"></i>
</a>

{% if step == 1 %}
    {% if creation_month_day == '12-25'%} {# christmas transition - change date to 12-25 if not testing #}
        <body class = "transition-page" id="transition-christmas">
            <div class = "trans-header">{{user.username}}'s <br> {% trans "Christmas" %}<br> {% trans 'Spotify Wrapped' %}</div>
            <div class="floating">
                <div class="note">&#127877;</div>
                <div class="note">&#127876;</div>
                <div class="note">&#127876;</div>
                <div class="note">&#127877;</div>
                <div class="note">&#127876;</div>
                <div class="note">&#127876;</div>
                <div class="note">&#127877;</div>
              </div>
        </body>
   {% elif creation_month_day == '10-31'%} {# halloween transition - change date to 10-31 if not testing #}
        <body class = "transition-page" id="transition-halloween">
            <div class = "trans-header">{{user.username}}'s <br> {% trans "Halloween" %} <br> {% trans 'Spotify Wrapped' %}</div>
            <div class="floating">
                <div class="note">&#127875;</div>
                <div class="note">&#128123;</div>
                <div class="note">&#127875;</div>
                <div class="note">&#127875;</div>
                <div class="note">&#128123;</div>
                <div class="note">&#128375;</div>
                <div class="note">&#128375;</div>
              </div>
        </body>
    {% elif creation_month_day == '02-14'%} {# valentine's day transition - change date to 02-14 if not testing #}
        <body class = "transition-page" id="transition-valentine">
        <div class = "trans-header">{{user.username}}'s <br> {% trans "Valentines's Day" %}<br>{% trans 'Spotify Wrapped' %}</div>
          <div class="floating">
              <div class="note">&#128140;</div>
              <div class="note">&#10084;</div>
              <div class="note">&#128140;</div>
              <div class="note">&#10084;</div>
              <div class="note">&#9829;</div>
              <div class="note">&#128140;</div>
              <div class="note">&#9829;</div>
    {% else %}
        <body class="transition-page" id="transition-1">
            <div class = "trans-header">{{user.username}}'s <br> {% trans 'Spotify Wrapped' %}</div>
          <div class="floating">
              <div class="note">♪</div>
              <div class="note">♫</div>
              <div class="note">♪</div>
              <div class="note">♬</div>
              <div class="note">♩</div>
              <div class="note">♪</div>
              <div class="note">♬</div>
          </div>
        </body>
    {% endif %}
        <a href="{% url 'view_wraps' %}?step=2&time_range={{ time_range }}">
          <button class="next-button btn btn-success btn-lg">{% trans "Next: Top Songs" %}</button>
        </a>
        <a href="{% url 'choose_wrap_time' %}" class="escape-wrapped"> X </a>
        <a href="{% url 'profile' %}" class="profile-icon" aria-label="View Profile">
            <i class="bi bi-person"></i>
        </a>


{% elif step == 2 %}
    <body class="top-songs-page">
        <a href="{% url 'profile' %}" class="profile-icon" aria-label="{% trans 'View Profile' %}">
            <i class="bi bi-person"></i>
        </a>
        <div class="topSongsTitle">
            <h2 class="topSongs">{% trans "Top Songs" %}</h2>
        </div>
        <div class="chart_topSongs">
            {% for track in top_tracks %}
                <div class="pillar_topSongs rank-{{ forloop.counter }}">
                    <div class="song-box_topSongs">
                        {% if track.album_image %}
                            <div class="image-and-audio">
                                <img src="{{ track.album_image }}"
                                     alt="{% trans 'Album Image' %}"
                                     style="width: 100px; height: 100px; cursor: pointer;"
                                     class="album-image"
                                     data-audio="{{ track.preview_url }}">
                                <span class="tooltip">{% trans 'Click to Play Song' %}</span>
                            </div>
                        {% else %}
                            <p>{% trans 'No album image available' %}</p>
                        {% endif %}

                        <strong>{{ track.name }}</strong> {% trans "by" %}
                        {% for artist in track.artists %}
                            {{ artist.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                    <div class="rank_topSongs">{{ forloop.counter }}</div>
                </div>
            {% endfor %}
        <a href="{% url 'view_wraps' %}?step=3">
            <button class="next-button">{% trans "Next: Top Artists" %}</button>
        </a>
    </body>
    <script>
        //play song on album click
        document.addEventListener("DOMContentLoaded", function() {
            const images = document.querySelectorAll('.album-image');
            let currentAudio = null;

            images.forEach(image => {
                image.addEventListener('click', function () {
                    const audioSrc = this.getAttribute('data-audio');

                    if (currentAudio) {
                        currentAudio.pause();
                        currentAudio.remove();
                    }

                    if (audioSrc) {
                        currentAudio = new Audio(audioSrc);
                        currentAudio.play();
                        currentAudio.addEventListener('ended', function () {
                            currentAudio = null;
                        });
                    } else {
                        alert("No audio preview available");
                    }
                });
            });
        });
    </script>
{% elif step == 3 %}
    <body class="transition-page", id=transition-2">
        <div class = "trans-header" id = "swipe_header">{% trans "The Artists That Defined Your Wrapped" %}</div>
        <script>
            setTimeout(() => {
                window.location.href = "{% url 'view_wraps' %}?step=4&time_range={{ time_range }}";
            }, 7500); //8000ms = 8 seconds
        </script>
        <a href="{% url 'view_wraps' %}?step=4&time_range={{ time_range }}">
            <button class="next-button">{% trans "Next: Top Artists" %}</button>
        </a>
        <a href="{% url 'view_wraps' %}?step=2&time_range={{ time_range }}">
            <button class="back-button">{% trans "Back: Top Songs" %}</button>
        </a>
    </body>
{% elif step == 4 %}
    <body class="top-artist-page">
        <div class="topArtistsTitle">
            <h2 class="topArtists">{% trans "Top Artists" %}</h2>
        </div>
        <a href="{% url 'profile' %}" class="profile-icon" aria-label="{% trans 'View Profile' %}">
            <i class="bi bi-person"></i>
        </a>
        <div class="chart_topArtists">
            {% for artist in top_artists %}
                <div class="pillar_topArtists">
                    <div class="artist-box_topArtists">
                        {% if artist.image_url %}
                            <img src="{{ artist.image_url }}" alt="{{ artist.name }}">
                        {% endif %}
                        <div class="rank_topArtists">{{ forloop.counter }}</div>
                    </div>
                    <div class="artist-name_topArtists">{{ artist.name }}</div>
                </div>
            {% endfor %}
        </div>
        <a href="{% url 'view_wraps' %}?step=5">
            <button class="next-button">{% trans "Next: Top Albums" %}</button>
        </a>
        <a href="{% url 'view_wraps' %}?step=2&time_range={{ time_range }}">
            <button class="back-button">{% trans "Back: Top Songs" %}</button>
        </a>
    </body>
{% elif step == 5 %}
    <body class="transition-page", id="transition-3">
        <div class = "trans-header" id = "swipe_header">{% trans "The Albums You Had On Repeat" %}</div>
        <script>
            setTimeout(() => {
                window.location.href = "{% url 'view_wraps' %}?step=6&time_range={{ time_range }}";
            }, 7500); //8000ms = 8 seconds
        </script>
        <a href="{% url 'view_wraps' %}?step=6&time_range={{ time_range }}">
            <button class="next-button">{% trans "Next: Top Albums" %}</button>
        </a>
        <a href="{% url 'view_wraps' %}?step=4&time_range={{ time_range }}">
            <button class="back-button">{% trans "Back: Top Artists" %}</button>
        </a>
    </body>
{% elif step == 6 %}
    <body class="top-albums-page">
        <div class="topAlbumsTitle">
            <h2>{% trans "Your Top Albums" %}</h2>
        </div>
        <a href="{% url 'profile' %}" class="profile-icon" aria-label="{% trans 'View Profile' %}">
            <i class="bi bi-person"></i>
        </a>
        <div class="chart_topAlbums">
            {% for album in top_albums %}
                <div class="album-box">
                    <div class="album-rank">
                        {{ forloop.counter }}
                    </div>
                    <div class="album-image">
                        <img src="{{ album.image_url }}" alt="{{ album.name }}">
                    </div>
                    <div class="album-title">{{ album.name }}</div>
                    <div class="album-artist">{{ album.artists|join:", " }}</div>
                </div>
            {% endfor %}
        </div>
        <a href="{% url 'view_wraps' %}?step=7">
            <button class="next-button">{% trans "Next: Top Genres" %}</button>
        </a>
        <a href="{% url 'view_wraps' %}?step=4&time_range={{ time_range }}">
            <button class="back-button">{% trans "Back: Top Artists" %}</button>
        </a>
    </body>
{% elif step == 7 %}
    <body class="transition-page", id="transition-4">
        <div class = "trans-header" id = "swipe_header">{% trans "Turn It Up For Your Top Genres!" %}</div>
        <script>
            setTimeout(() => {
                window.location.href = "{% url 'view_wraps' %}?step=8&time_range={{ time_range }}";
            }, 7500); //8000ms = 8 seconds
        </script>
        <a href="{% url 'view_wraps' %}?step=8&time_range={{ time_range }}">
            <button class="next-button">{% trans "Next: Top Genres" %}</button>
        </a>
        <a href="{% url 'view_wraps' %}?step=6&time_range={{ time_range }}">
            <button class="back-button">{% trans "Back: Top Artists" %}</button>
        </a>
    </body>
{% elif step == 8 %}
    <body class="top-genres-page">
        <h4 class="topGenresTitle">{% trans "Top Genres" %}</h4>
        <a href="{% url 'profile' %}" class="profile-icon" aria-label="{% trans 'View Profile' %}">
            <i class="bi bi-person"></i>
        </a>
        <div class="genre-container">
            {% for genre, count in top_genres %}
                <div class="genre-box">
                    <div class="genre-rank">{{ forloop.counter }}</div>
                    <div class="genre-info">
                        <div class="genre-name">{{ genre }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <p>{% trans "Time Range" %}: {{ time_range }}</p>
        <a href="{% url 'view_wraps' %}?step=6&time_range={{ time_range }}">
            <button class="back-button">{% trans "Back: Top Albums" %}</button>
        </a>
        <form method="post" action="{% url 'view_wraps' %}?time_range={{ time_range }}">
            {% csrf_token %}
            <input type="hidden" name="time_range" value="{{ time_range }}">
            <button class="next-button" type="submit" name="save">{% trans "Save to Profile" %}</button>
        </form>
        <a href="{% url 'profile' %}" class="profile-icon" aria-label="{% trans 'View Profile' %}">
            <i class="bi bi-person"></i>
        </a>
    </body>
{% endif %}
</html>
