{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Your Spotify Wrapped</title>
   <!-- Link to the CSS file -->
   <link rel="stylesheet" href="{% static 'css/styles.css' %}">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<a href="{% url 'choose_wrap_time' %}" class="escape-wrapped"> X </a>
<a href="{% url 'profile' %}" class="profile-icon" aria-label="View Profile">
    <i class="bi bi-person"></i>
</a>
{#{% if step == 1 %}#}
{#        <body class="transition-page", id="transition-1">#}
{#        <h2>TRANSITION ONE - WELCOME</h2>#}
{#           <a href="{% url 'view_wraps' %}?step=2&time_range={{ time_range }}">#}
{#           <button class="next-button">Next: Top Songs</button>#}
{#       </a>#}
{#    </body>#}
{% if step == 1 %}
<body class="transition-page" id="transition-1">
  <div class="transition-content">
      <h2 style = "color: black; font-size: 80px;">{{user.username}}'s <br> Spotify Wrapped </h2>
    <a href="{% url 'view_wraps' %}?step=2&time_range={{ time_range }}">
      <button class="next-button btn btn-success btn-lg">Next: Top Songs</button>
    </a>
  </div>

  <!-- Floating Notes -->
  <div class="floating-notes">
      <div class="note">♪</div>
      <div class="note">♫</div>
      <div class="note">♪</div>
      <div class="note">♬</div>
      <div class="note">♩</div>
      <div class="note">♪</div>
      <div class="note">♬</div>
  </div>
</body>




<!-- Link to the user's profile -->
{% elif step == 2 %}
    <body class="top-songs-page">
<a href="{% url 'profile' %}" class="profile-icon" aria-label="View Profile">
    <i class="bi bi-person"></i>
</a>




   <div class="topSongsTitle">
       <h2 class="topSongs">Top Songs</h2>
   </div>


   <!-- Lowered and centered Top Songs chart container -->
   <div class="chart_topSongs">
       {% for track in top_tracks %}
           <!-- Podium for each rank with varying heights based on rank -->
           <div class="pillar_topSongs rank-{{ forloop.counter }}">
               <div class="song-box_topSongs">
                   {% if track.image_url %}
                       <img src="{{ track.image_url }}" alt="{{ track.name }}">
                   {% endif %}
                   <div class="song-title_topSongs">{{ track.name }}</div>
                   <div class="song-artist_topSongs">
                       {% for artist in track.artists %}
                           {{ artist }}{% if not forloop.last %}, {% endif %}
                       {% endfor %}
                   </div>
               </div>
               <div class="rank_topSongs">{{ forloop.counter }}</div>
           </div>
       {% endfor %}
   </div>
   <a href="{% url 'view_wraps' %}?step=3">
       <button class="next-button">Next: Top Artists </button>
   </a>
   </body>

{% elif step == 3 %}
    <body class="transition-page", id="transition-2">
        <h2>TRANSITION TWO</h2>
           <a href="{% url 'view_wraps' %}?step=4&time_range={{ time_range }}">
           <button class="next-button">Next: Top Artists</button>
       </a>
        <a href="{% url 'view_wraps' %}?step=2&time_range={{ time_range }}">
           <button class="back-button">Back: Top Songs</button>
       </a>
    </body>

{% elif step == 4 %}
   <body class = "top-artist-page">
   <div class="topArtistsTitle">
       <h2 class="topArtists">Top Artists</h2>
   </div>
    <a href="{% url 'profile' %}" class="profile-icon" aria-label="View Profile">
    <i class="bi bi-person"></i>
</a>
   <div class="chart_topArtists">
       {% for artist in top_artists %}
           <div class="pillar_topArtists">
               <div class="artist-box_topArtists">
                   {% if artist.image_url %}
                       <img src="{{ artist.image_url }}" alt="{{ artist.name }}">
                   {% endif %}
                   <div class="rank_topArtists">{{ forloop.counter }}</div>
               </div>
               <div class="artist-name_topArtists">{{ artist.name }}</div>
           </div>
       {% endfor %}
   </div>
   <a href="{% url 'view_wraps' %}?step=5">
       <button class="next-button">Next: Top Albums</button>
   </a>
    <a href="{% url 'view_wraps' %}?step=2&time_range={{ time_range }}">
       <button class="back-button">Back: Top Songs</button>
   </a>

{% elif step == 5 %}
    <body class="transition-page", id="transition-3">
        <h2>TRANSITION THREE</h2>
           <a href="{% url 'view_wraps' %}?step=6&time_range={{ time_range }}">
           <button class="next-button">Next: Top Albums</button>
       </a>
        <a href="{% url 'view_wraps' %}?step=4&time_range={{ time_range }}">
           <button class="back-button">Back: Top Artists</button>
       </a>
    </body>



{% elif step == 6 %}
<body class="top-albums-page">
    <div class="topAlbumsTitle">
        <h2>Your Top Albums</h2>
    </div>
<a href="{% url 'profile' %}" class="profile-icon" aria-label="View Profile">
    <i class="bi bi-person"></i>
</a>
<div class="chart_topAlbums">
    {% for album in top_albums %}
        <div class="album-box">
            <!-- Ranking number overlay -->
            <div class="album-rank">
                {{ forloop.counter }}
            </div>
            <!-- Album image -->
            <div class="album-image">
                <img src="{{ album.image_url }}" alt="{{ album.name }}">
            </div>
            <!-- Album title and artist -->
            <div class="album-title">{{ album.name }}</div>
            <div class="album-artist">{{ album.artists|join:", " }}</div>
        </div>
    {% endfor %}
</div>
    <a href="{% url 'view_wraps' %}?step=7">
        <button class="next-button">Next: Top Genres</button>
    </a>
<a href="{% url 'view_wraps' %}?step=4&time_range={{ time_range }}">
       <button class="back-button">Back: Top Artists</button>
   </a>
</body>

{% elif step == 7 %}
    <body class="transition-page", id="transition-4">
        <h2>TRANSITION FOUR</h2>
           <a href="{% url 'view_wraps' %}?step=8&time_range={{ time_range }}">
           <button class="next-button">Next: Top Genres</button>
       </a>
        <a href="{% url 'view_wraps' %}?step=4&time_range={{ time_range }}">
           <button class="back-button">Back: Top Artists</button>
       </a>
    </body>

 {% elif step == 8 %}
    <body class="top-genres-page">
   <h4 class="topGenresTitle">Top Genres</h4>
<a href="{% url 'profile' %}" class="profile-icon" aria-label="View Profile">
    <i class="bi bi-person"></i>
</a>
   <div class="genre-container">
    {% for genre, count in top_genres %}
    <div class="genre-box">
        <div class="genre-rank">{{ forloop.counter }}</div>
        <div class="genre-info">
            <div class="genre-name">{{ genre }}</div>
        </div>
    </div>
    {% endfor %}
</div>



   <p>Time Range: {{ time_range }}</p>
 <a href="{% url 'view_wraps' %}?step=4&time_range={{ time_range }}">
     <button class="back-button">Back: Top Artists</button>
 </a>
  <form method="post" action="{% url 'view_wraps' %}?time_range={{ time_range }}">
      {% csrf_token %}
      <input type="hidden" name="time_range" value="{{ time_range }}">
      <button class="next-button" type="submit" name="save" >Save to Profile</button>
  </form>


  <a href="{% url 'profile' %}" class="profile-icon" aria-label="View Profile">
    <i class="bi bi-person"></i>
  </a>
{% endif %}
</body>
</html>
